/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

 .flex{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
 }
 .flex_column{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
 }
 .flex_row{
         -webkit-box-orient: horizontal;
         -webkit-box-direction: normal;
             -ms-flex-flow: row wrap;
                 flex-flow: row wrap;
 }
.container{
    width: 100%;
    margin: 0 auto;
    max-width: 1000px;
    font-family: 'Open Sans', sans-serif;
}
.header{
-webkit-box-pack: justify;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #e1f1ff;
    padding: 10px 20px;
}

.header__logo{
    max-width: 120px;
}
.header__text{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 22px;
}
.opros{
       height: 100%;
    background: #efefef;
    padding: 10px 20px;  
}
.opros__age_buttons{
     -webkit-box-pack: center;
          -ms-flex-pack: center;
               justify-content: center;
}
.button{
background: #006998;
    color: #fff;
    cursor: pointer;
    padding: 10px 15px;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 600;
    border-radius: 10px;
    margin: 10px;
    width: 100%;
    max-width: 250px;
    text-align: center;
}
.age_button{

}
.opros__question{
     font-size: 22px;
    margin-bottom: .5em;
    text-align: center;
}
.opros__subtitle{
     font-weight: 300;
    font-size: 20px;
    color: #252525;
    margin-bottom: .5em;
}
 .complaint {
margin: 15px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
 .complaint label {
     font-size: 20px;
     position: absolute;
     z-index: 10;
     padding-right: 35px;
     cursor: pointer;
}
 .complaint input {
     opacity: 0;
     visibility: hidden;
     position: absolute;
}
 .complaint input:checked ~ .check {
     border-color: #1377a4;
     -webkit-box-shadow: 0px 0px 0px 15px #1377a4 inset;
             box-shadow: 0px 0px 0px 15px #1377a4 inset;
}
 .complaint input:checked ~ .check::after {
     opacity: 1;
     -webkit-transform: scale(1);
         -ms-transform: scale(1);
             transform: scale(1);
}
 .complaint .check {
     width: 25px;
     height: 25px;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-pack: center;
         -ms-flex-pack: center;
             justify-content: center;
     -webkit-box-align: center;
         -ms-flex-align: center;
             align-items: center;
     position: relative;
     border-radius: 100px;
     background-color: #fff;
     border: 2px solid #1377a4;
     -webkit-box-shadow: 0px 0px 0px 0px #1377a4 inset;
             box-shadow: 0px 0px 0px 0px #1377a4 inset;
     -webkit-transition: all 0.15s cubic-bezier(0, 1.05, 0.72, 1.07);
     -o-transition: all 0.15s cubic-bezier(0, 1.05, 0.72, 1.07);
     transition: all 0.15s cubic-bezier(0, 1.05, 0.72, 1.07);
}
 .complaint .check::after {
     content: '';
     width: 100%;
     height: 100%;
     opacity: 0;
     z-index: 4;
     position: absolute;
     -webkit-transform: scale(0);
         -ms-transform: scale(0);
             transform: scale(0);
     background-size: 50%;
     background-image: url('../img/checkmark.svg');
     background-repeat: no-repeat;
     background-position: center;
     -webkit-transition-delay: 0.2s !important;
          -o-transition-delay: 0.2s !important;
             transition-delay: 0.2s !important;
     -webkit-transition: all 0.25s cubic-bezier(0, 1.05, 0.72, 1.07);
     -o-transition: all 0.25s cubic-bezier(0, 1.05, 0.72, 1.07);
     transition: all 0.25s cubic-bezier(0, 1.05, 0.72, 1.07);
}

.test__img{
    max-width: 500px;
        margin: 0 auto;
}
@media screen and (max-width: 600px){
     .header{
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
     }
     .header__logo{
          margin-bottom: .5em;
          max-width: 80px;
     }
     .header__text{
          text-align: center;
          font-size: 20px;
     }
     .test_button {
          margin: 1em auto;
     }
     .complaint{
          margin: 8px 0;
     }
}