* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0
}

body {
    font-family: 'PT Sans',sans-serif;
    background-color: #f7f6f6
}

.container .limit {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 1400px;
    margin: 0 auto;
    padding: 40px 20px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.container .base_bl {
    width: 90%;
    height: auto;
    min-height: 850px;
    padding: 50px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #fff;
    -webkit-box-shadow: 0 5px 5px 0 rgba(0,0,0,.5);
    box-shadow: 0 5px 5px 0 rgba(0,0,0,.5)
}

.container .sec1 {
    display: block
}

.container .sec2 {
    display: none;
}

.container .sec3 {
    display: none
}

.container .sec4 {
    display: none
}

.container .sec5 {
    display: none
}

.container .sec6 {
    display: none
}

.container .sec7 {
    display: none
}

.container .sec8 {
    display: none
}

.container .sec9 {
    display: none
}

.container .sec10 {
    display: none
}

.container .sec11 {
    display: none
}

.container .sec12 {
    display: none
}

.sec7 label::before {
    display: none
}

.sec7 label {
    width: 100%;
    height: 150px;
    margin-bottom: 20px;
    background-color: red
}

.sec7 .block_answer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 50px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

.sec7 label.another {
    background-color: #dc143c
}

.sec11 label::before {
    display: none
}

.sec11 label::after {
    display: none
}

.sec11 label {
    width: 150px;
    height: 150px;
    margin-bottom: 20px
}

.sec11 label.l1 {
    background: url("https://med-star-inf.art/pages/v2080_ru_zren_okoplus_form/img/7-1.jpg")
}

.sec11 label.l2 {
    background: url("https://med-star-inf.art/pages/v2080_ru_zren_okoplus_form/img/7-2.jpg")
}

.wrapper {
    width: 100%
}

.container .sec7 .block_answer_r,.container .sec7 .block_answer_l {
    width: 20%!important;
    min-width: 90px!important;
    max-width: 200px!important;
    margin-right: 5px!important;
    margin-left: 5px!important
}

.container .top_sec {
    padding-top: 30px;
    text-align: center
}

.container .top_sec img {
    display: inline-block;
    max-width: 120px;
    vertical-align: middle
}

.container .top_sec h1 {
font-size: 40px;
    font-weight: 400;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    color: #575656;
}

.container .top_sec h1 span {
    font-weight: 700
}

.container .body_cont {
    padding-top: 40px;
    text-align: center
}

.container .body_cont h3 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 30px;
    text-transform: uppercase
}

.container .body_cont p {
    font-size: 22px;
    margin-bottom: 30px;
    padding: 0 60px
}

.container .body_cont .btn {
    font-size: 24px;
    display: block;
    max-width: 350px;
    margin: 20px auto;
    padding: 20px 0;
    cursor: pointer;
    -webkit-transition: all 400ms;
    -o-transition: all 400ms;
    transition: all 400ms;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #da251c
}

.container .body_cont .btn:hover {
    -webkit-transform: scale(1.1,1.1);
    -ms-transform: scale(1.1,1.1);
    transform: scale(1.1,1.1);
    -webkit-box-shadow: 0 5px 30px 0 rgba(218,37,28,.5);
    box-shadow: 0 5px 30px 0 rgba(218,37,28,.5)
}

.container .question .top_sec img {
    max-width: 100px
}

.container .question .top_sec h1 {
    font-size: 24px;
    max-width: 350px
}

.container .question h3 i {
    color: #da251c
}

.container .question h3 {
    font-size: 36px;
    font-weight: 300;
    margin-top: 70px
}

.container .question h3 span {
    font-size: 34px;
    display: block;
    margin-top: 20px
}

.container .question {
    text-align: center
}

.container .question .block_answer {
    margin-top: 50px
}

.container .question .block_answer_l,.container .question .block_answer_r {
    display: inline-block;
    margin: 0 0;
    vertical-align: top
}

.container .question .block_answer_l {
    text-align: right
}

.container .question .block_answer_r {
    text-align: left
}

input[type=radio]:checked,input[type=radio]:not(:checked) {
    position: absolute;
    left: -9999px
}

input[type=radio]:checked+label,input[type=radio]:not(:checked)+label {
    font-size: 28px;
    font-weight: 400;
    line-height: 20px;
    position: relative;
    display: inline-block;
    padding-right: 35px;
    padding-left: 35px;
    cursor: pointer
}

input[type=radio]:checked+label:before,input[type=radio]:not(:checked)+label:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '';
    border: 2px solid #ddd;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background: #fff
}

input[type=radio]:checked+label:after,input[type=radio]:not(:checked)+label:after {
    position: absolute;
    top: 4px;
    left: 4Px;
    width: 12px;
    height: 12px;
    content: '';
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background: #da251c
}

input[type=radio]:not(:checked)+label:after {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    opacity: 0
}

input[type=radio]:checked+label:after {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1
}

.container .last {
    height: auto!important;
    padding: 50px 0
}

.container .last .body_cont h3 {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 15px
}

.container .last .body_cont p {
    font-size: 20px;
    text-align: left
}

.container .last .body_cont p span {
    font-weight: 700;
    text-decoration: underline
}

.container .last .body_cont ul {
    font-size: 18px;
    display: block;
    display: none;
    margin: 0 auto;
    padding: 0 50px;
    text-align: left
}

.container .body_cont .btn2 {
    font-size: 24px;
    display: block;
    max-width: 350px;
    margin: 20px auto;
    padding: 20px 0;
    -webkit-transition: all 400ms;
    -o-transition: all 400ms;
    transition: all 400ms;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #da251c
}

.container .body_cont .btn2:hover {
    -webkit-transform: scale(1.1,1.1);
    -ms-transform: scale(1.1,1.1);
    transform: scale(1.1,1.1);
    -webkit-box-shadow: 0 5px 30px 0 rgba(218,37,28,.5);
    box-shadow: 0 5px 30px 0 rgba(218,37,28,.5)
}

.container .last {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    padding-top: 0;
    padding-right: 10px;
    padding-left: 10px;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none
}

.container .last .body_cont .btn2 {
    font-size: 20px;
    max-width: 300px;
    padding: 10px 0;
    cursor: pointer;
    text-decoration: underline;
    color: #000;
    background: 0 0
}

.container .last .body_cont .btn2:hover {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    -webkit-box-shadow: none;
    box-shadow: none
}

.container .last .body_cont .form_se {
    text-align: center
}

.container .last .body_cont .form_se h4 {
    font-size: 22px;
    font-weight: 400;
    max-width: 512px;
    margin: 0 auto;
    margin-top: 15px
}

.container .last .body_cont .form_se h4 span {
    font-size: 22px;
    font-weight: 700;
    display: inline-block;
    text-transform: uppercase;
    color: #da251c
}

.container .last .body_cont .form_se form {
    margin-top: 20px
}

.container .last .body_cont .form_se input {
    font-size: 16px;
    line-height: 35px;
    display: block;
    width: 275px;
    height: 35px;
    margin: 0 auto 15px;
    padding-left: 10px;
    border: 0;
    border: 1px solid #9c9c9c;
    -webkit-border-radius: 5px;
    border-radius: 5px
}

.container .body_cont .btn3 {
    font-size: 24px;
    display: block;
    max-width: 350px;
    margin: 20px auto;
    padding: 20px 0;
    -webkit-transition: all 400ms;
    -o-transition: all 400ms;
    transition: all 400ms;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #da251c
}

.container .body_cont .btn3:hover {
    -webkit-transform: scale(1.1,1.1);
    -ms-transform: scale(1.1,1.1);
    transform: scale(1.1,1.1);
    -webkit-box-shadow: 0 5px 30px 0 rgba(218,37,28,.5);
    box-shadow: 0 5px 30px 0 rgba(218,37,28,.5)
}

.container .last .body_cont .form_se .btn3 {
    font-size: 20px;
    width: 300px;
    padding: 10px 0;
    cursor: pointer;
    border: 0
}

.container .last .prod {
    display: block;
    max-width: 300px;
    margin: 0 auto
}

.iframe {
    max-width: 320px;
    height: 250px;
    margin: auto
}

.under_frame {
    font-size: 15px!important;
    text-align: center!important
}

span.tdl {
    display: -webkit-inline-box!important;
    display: -webkit-inline-flex!important;
    display: -ms-inline-flexbox!important;
    display: inline-flex!important;
    text-decoration: line-through
}

span.tdl span {
    margin-left: 2px
}

@media only screen and (max-width: 767px) {
    .container .top_sec img {
        display:block;
        max-width: 100px;
        margin: 0 auto
    }

    .container .body_cont p {
        font-size: 18px
    }

    .container .top_sec h1 {
        font-size: 24px;
        display: block;
        margin: auto;
        padding-left: 0;
        text-align: center
    }

    .container .limit {
        height: auto;
        padding: 0
    }

    .container .base_bl .inner {
        position: relative;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none
    }

    .container .base_bl {
        position: relative;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: auto;
        min-height: auto;
        padding: 10px;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
        background-color: #fff
    }

    .container .body_cont p {
        padding: 0
    }

    .container .question h3 {
        font-size: 30px;
        margin-top: 25px
    }

    .container .question .block_answer_r,.container .question .block_answer_l {
        display: block;
        margin-bottom: 30px;
        text-align: center
    }

    .container .question h3 span {
        font-size: 22px
    }

    .container .last .body_cont h3 {
        font-size: 22px
    }

    .container .last .body_cont p {
        font-size: 16px
    }

    .container {
        padding: 10px 0
    }

    .container .last .body_cont ul {
        padding: 0 20px
    }

    .container .body_cont .btn {
        font-size: 20px;
        max-width: 250px;
        padding: 10px 0
    }

    .container .last .body_cont .btn2 {
        max-width: 250px
    }

    .container .last .body_cont .form_se .btn3:hover {
        -webkit-transform: none;
        -ms-transform: none;
        transform: none
    }
}

.pl_next_order_page {
    display: none
}

.pl_field_submit {
    display: none
}

.pl_field_address_info {
    opacity: 0
}

.pl_field_address_info {
    opacity: 0
}

#s_comebacker_block {
    position: fixed;
    z-index: 10000;
    top: 0;
    right: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 177px;
    text-align: center;
    background: #fff
}

#s_comebacker_block img {
    width: 593px;
    height: 177px
}

#created-button-1,#created-button-2 {
    line-height: 1.7em!important
}

.my-com-date {
    font-size: 20px;
    font-weight: 600;
    line-height: 34px;
    padding: 1px 4px 1px 4px;
    color: #5b5f65;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: #fdfdfd;
    text-shadow: 0 0 0 #000
}

.out-comebacker-content-btn:hover {
    -webkit-transition: .3s!important;
    -o-transition: .3s!important;
    transition: .3s!important;
    text-decoration: none!important
}

.out-comebacker-content-btn:focus {
    text-decoration: none;
    color: #fff
}

.out-comebacker-content-btn:active {
    border: 1px solid #fff
}

a:active,a:focus {
    outline: 0
}

input,textarea {
    outline: 0
}

input:active,textarea:active {
    outline: 0
}

:focus {
    outline: 0
}

textarea {
    resize: none
}

textarea {
    resize: vertical
}

textarea {
    resize: horizontal
}

button:active,button:focus {
    outline: 0!important
}

button::-moz-focus-inner {
    border: 0!important
}

.order_form {
    font-family: Arial,Helvetica;
    margin: 0;
    padding: 20px 20px 0 20px;
    -webkit-border-radius: 5px;
    border-radius: 5px
}

.block_form {
    margin: 0 0 34px
}

.block_form_label {
    font-size: 14px;
    display: block;
    float: left;
    width: 65px;
    margin: 8px 10px 0 0;
    text-align: right;
    color: #333
}

.block_form input {
    font-size: 15px;
    display: block;
    width: 98.8%;
    height: 13px;
    padding: 8px 10px;
    border: #888 1px solid;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: #fff
}

.block_form select {
    font-size: 16px;
    margin-top: 6px;
    padding: 2px 0
}

.block_form p {
    font-size: 15px;
    padding-top: 8px;
    color: #1d1d1d
}

.form_hr {
    border-top: #bbb 1px solid
}

.block_form div {
    position: relative;
    margin-left: 75px
}

.block_form_off {
    display: none
}

.w_block_form_prices {
    padding-left: 74px
}

.block_form_prices p {
    margin-top: 3px;
    margin-bottom: 18px
}

.block_form_prices_label {
    float: left;
    padding-right: 5px
}

.block_form_prices_total label {
    text-transform: uppercase
}

.block_form_prices_total p {
    font-size: 18px;
    font-weight: 700;
    margin-top: 8px;
    margin-bottom: 0;
    padding-top: 6px
}

.order_form .clear {
    clear: both
}

.order_form .fhelp {
    font-size: 14px;
    display: block;
    padding-top: 10px;
    color: #929292
}

.errorMessage {
    font-family: Arial;
    font-size: 14px;
    position: absolute;
    z-index: 10000;
    margin: 3px 0 0 1px;
    padding: 6px 7px 5px;
    color: #fff;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: #e74c3c
}

.ifr_button {
    font-family: Arial;
    font-size: 24px;
    font-weight: 700;
    line-height: 51px;
    display: block;
    width: 180px;
    height: 51px;
    margin: 20px auto;
    padding: 0;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #fff;
    border: 0;
    border-bottom: 2px solid #c0392b;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: #e74c3c
}

.ifr_button:hover {
    background: #e75c4e
}

.ifr_button:active {
    background: #c0392b
}

.block_form {
    margin-bottom: 14px
}

.block_form label {
    float: none;
    margin: 8px 21px 7px 0;
    text-align: left
}

.block_form div {
    margin-left: 0
}

.block_form input {
    width: 95%
}

.block_form_prices label {
    float: left;
    width: auto
}

.int_price_total {
    margin: 0
}

.w_block_form_prices {
    padding-left: 0
}

form {
    width: auto;
    max-width: 316px;
    margin: 0 auto
}

form input[type=checkbox] {
    height: 0!important
}

.base_bl.sec1 {
    position: relative;
    -webkit-animation-name: example;
    animation-name: example;
    -webkit-animation-duration: 3s;
    animation-duration: 3s
}

@-webkit-keyframes example {
    0% {
        opacity: 0
    }

    25% {
        opacity: 0
    }

    50% {
        opacity: 0
    }

    75% {
        opacity: .9
    }

    to {
        opacity: 1
    }
}

@keyframes example {
    0% {
        opacity: 0
    }

    25% {
        opacity: 0
    }

    50% {
        opacity: 0
    }

    75% {
        opacity: .9
    }

    to {
        opacity: 1
    }
}

.container .last .body_cont ul {
    display: block;
    min-width: 300px;
    max-width: 600px;
    margin: 20px auto;
    padding: 0;
    list-style: none;
    border: 1px solid green;
    -webkit-border-radius: 13px;
    border-radius: 13px
}

.first-item {
    width: 100%;
    padding: 0;
    color: #fff;
    background-color: green
}

.total li {
    line-height: 65px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 65px;
    padding: 0 40px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.first-item {
    -webkit-border-top-left-radius: 10px;
    border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    border-top-right-radius: 10px
}

.item2,.item4 {
    background-color: #eee
}

input[type=radio]:checked+label:before,input[type=radio]:not(:checked)+label:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '';
    border: 2px solid #ddd;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background: #fff
}

input[type=radio]:checked+label:after,input[type=radio]:not(:checked)+label:after {
    position: absolute;
    top: 4px;
    left: 4Px;
    width: 12px;
    height: 12px;
    content: '';
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background: #da251c
}

input[type=radio]:not(:checked)+label:after {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    opacity: 0
}

input[type=radio]:checked+label:after {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1
}

.container .body_cont .first-btn {
    font-family: inherit;
    padding: 20px 56px!important;
    border: 0
}

.container .sec11 h3 {
    margin-top: -20px
}

.container {
    display: block
}

body {
    font-family: sans-serif;
}
.submit {
	    text-transform: uppercase;
    padding: 10px 15px;
    margin: 15px 0;
    outline: none;
    border: none;
    margin-top: 5px;
    border-radius: 5px;
    box-shadow: 0px 4px 3px #242120;
    background: red;
    color: #fff;
    font-weight: bold;
    transition: background 0.3s;
    cursor: pointer;

}